@import "_vars";
@import "_global";
@import "_fonts";

//start header 

.header {
  background-color: $white;
  width: 100%;
  
  &__top {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: $header-top-bg;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    transition: all 0.6s;
  }
  &__top-inner.sticky {
    height: 45px;
  }
  &__box--left,
  &__box--right {
    display: flex;
    align-items: center;
  }
  &__box--left {
    padding-right: 220px;  //400
  }

  &__logo {
    font-size: 24px;
    & span {
      @include f800;
      margin-right: 5px;
    }
  }

  &__menu {
    margin-left: 30px;  //40
    & ul {
      display: flex;
     }
     & ul li {
        margin-left: 38px; //48
        position: relative;
    }
    & ul li::before {
      content: "";
      position: absolute;
      bottom: -34px;
      left: -20px;
      width: 100px;
      height: 0;
      background-color: $black;
      transition: all 0.4s;
    }
    & ul li:hover::before {
      height: 3px;
    }
    & ul li a {
      font-size: 14px;
      @include f600;
    }
   
  }

  &__text {
    & a {
      font-size: 14px;
      @include f600;
    }
    & a.delivery {
      @include f400;
    }

    & .header__phone {
       margin-right: 30px; //48
       transition: all 0.3s;
    }

    & .header__phone:hover {
      color: $hoverText;
    }

    & .menu-item {
      transform: scale(1);
      transition: all 0.5s;
    }
    & .menu-item.hide-item {
      transform: scale(0);
    }
    &:nth-child(2) .menu-item.hide-item {
      transition-delay: 0.6s;
    }
    &:nth-child(3) .menu-item.hide-item {
      transition-delay: 0.5s;
    }
    &:nth-child(2) .menu-item {
      transition-delay: 0.1s;
    }

    &:nth-child(3) .menu-item {
      transition-delay: 0.2s;
    }
  }



  &__btn {
    display: flex;
    &-menu {
      margin-left: 15px; //30
    }
  }

  &__search-form {
    position: absolute;
    top: 23px;
    left: 60%;
    transform: translateX(0%);
    width: 450px; //600
    height: 44px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    &.active {
      opacity: 1;
      visibility: visible;
      transition-delay:  0.5s;
      transform: translate(-50%);
   }
   & input {
     width: 100%;
     height: 44px;
     background: transparent;
     color: $text;
     border: 1px solid $text;
     outline: none;
     font-size: 16px;
   }
   &::before {
     content: "\e986";
     font-family: "icomoon";
     position: absolute;
     top: 12px;
     left: -26px;
     font-size: 18px;
     color: $text;
   }
  }
}

.close {
  height: 44px;
  color: $text;
  line-height: 44px;
  font-size: 18px;
  text-align: right;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  &::before {
    content: "\e902";
    font-family: "icomoon";
    font-size: 16px;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

// end header

//start categories 

.categories {
  padding-top: 110px; // 100
  position: relative;

  &__inner {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
    overflow: hidden;

    &--left ul,
  &--right ul {
    display: flex;
  }

  &--left ul li,
  &--right ul li {
    padding: 0 12px; //14
    height: 80px;
  }

  &--left ul li a,
  &--right ul li a {
    transform: matrix(1, 0, 0, 1, 25) !important;
    transition: all 0.4s;
  }

  &--left ul li a:hover,
  &--right ul li a:hover {
   @include f600;
  }

  & ul li a {
    position: relative;
  }

  &-submenu.categories__submenu {
    background-color: $peach;
    position: absolute;
    left: 0;
    top: 180px;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: all 0.5s;
    z-index: 1;
  }

  &-submenu .categories__submenu-items {
    display: flex;
    align-items: center;
    margin-left: 20.6%;
  }

  &-submenu .categories__submenu-items .categories__submenu-item {
    padding-right: 60px;
    position: relative;
 
   }
   
   &-submenu .categories__submenu-items .categories__submenu-item::before{
    content: "";
    position: absolute;
    top: 10px;
    right: 20px;
    border: 2px solid $black;
    background-color: $black;
    border-radius: 50%;
   }
   &-submenu .categories__submenu-items .categories__submenu-item:last-child::before {
     border: none;
   }
   &-submenu .categories__submenu-item:hover {
      @include f600;
   }
  }
}
.categories__inner .categories__menu-list li:hover .categories__inner-submenu.categories__submenu {
   height: 120px;
}

//finish categories